body {
    background-color: rebeccapurple;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: lawngreen;
}

blockquote {
    color: white;
    background-color: black;
    line-height: 1.2;
    word-wrap: break-word;
}
form {
    display: flex;
    flex-wrap: wrap;
}
input {
    padding-left:1em;
    height: 30px;
    width: 15rem;
    border-radius: 5px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid purple;
}

input[type=submit] {
    margin-top: 15px;
    color: purple;
    background-color: mediumvioletred;
    width:100%;
}
.content {
    font-size: 1em;
}

.column {
    float: left;
    width: 26%;
    padding: 1em;
    margin-left: 3em;
    margin-right: 1em;
    background: purple;
}

.formField {
    margin: 2px;
    width: 100%;
}

label {
    color: white;
}

a {
    display: flex;
    color: white;
    padding: 1rem;
    text-decoration: none;
    border: thick solid white;
}

a:hover {
    color: rebeccapurple;
    background-color: white;
    border: thick solid rebeccapurple;
}