html, body {
	height: 100%;
	margin: 0;
	background-color: #4d4d4d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	margin: 1.3em;
	padding: 1.3em;
	background-color: #000;
	display: flex;
}

header div {
	width: 100%;
}

footer {
	padding: 0.3em 1.3em;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: black;
}

pre {
	font-size: 1em;
	color: lawngreen;
}

blockquote {
	margin: 0 0 2.6em 0;
	padding: 1.3em;
	color: white;
	background-color: black;
	line-height: 1.2;
	word-wrap: break-word;
}

input, select {
	padding-left: 0.3em;
	margin-right: 1.3em;
	height: 2.6em;
	border-radius: 5px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid purple;
	font-size: 1.5em;
}

input[type=submit] {
	color: purple;
	background-color: mediumvioletred;
	width: 81%;
	height: 2.8em;
}

input[type="checkbox"] {
	vertical-align: top;
	background-color: green;
	width: 1em;
	height: 1em;
}

.headerLink {
	color: white;
	padding: 1rem;
	text-decoration: none;
	border: thick solid white;
}

.headerLink:hover {
	color: black;
	background-color: white;
	border: thick solid rebeccapurple;
}

.headerLink:visited {
	color: white;
}

.content {
	padding: 0.3em 1.3em;
	font-size: 1em;
}

.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.formFields {
	display: inline-flex;
	width: 100%;
	vertical-align: baseline;
}

.formField {
	margin: 2px;
	width: 100%;
}

label {
	color: white;
}